#!/usr/bin/make -f
# -*- makefile -*-
#

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

override_dh_strip:
	$(overridden_command) --dbg-package=artikulate-dbg

override_dh_auto_test:
	-mkdir debian/home
	HOME=`pwd`/debian/home $(overridden_command)

override_dh_clean:
	-rm -r debian/home
	$(overridden_command)
